name: CI

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  changes:
    name: Detect relevant file changes
    runs-on: ubuntu-latest
    outputs:
      test: ${{ steps.filter.outputs.test }}

    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            test:
              - 'thispackage/**'
              - 'tests/**'
              - 'pyproject.toml'
              - '.github/workflows/ci.yaml'

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/pnpm-init
      - uses: j178/prek-action@v1
